<?xml version="1.0"?>
<launch>
    <arg name="debug" default="false" />
  <arg name="system" default="$(env OS)" />

    <rosparam file="$(find joystick)/config/joy_params.yml" command="load" />

  <group if="$(eval system != 'Windows_NT')">
    <node name="joy_controller" pkg="joy" type="joy_node" ns="/wormbot" output="screen" />
  </group>

  <group if="$(eval system == 'Windows_NT')">
    <node name="joy_controller" pkg="joystick" type="joystick_control_node" ns="/wormbot" output="screen"/>
  </group>
  
    <node name="joystick_node" pkg="joystick" type="joystick_node.py" ns="/wormbot" output="screen"/>

    <group if="$(arg debug)">
        <node name="jetbot_rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen"/>
    </group>
</launch>