<?xml version="1.0"?>
<launch>
    <rosparam file="$(find control)/config/control_config.yml" command="load" />

    <node pkg="controller_manager" type="spawner" name="base_control_manager" ns="/wormbot" args="/wormbot/movement_controller" output="screen" />

  <node pkg="control" type="control_node" name="base_control_node" ns="/wormbot" output="screen" />
</launch>
